.login-background{
	background-color: rgba(190,218,241,0.81);
}

.login-clean {
	height: 100%;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.login-clean h1 {
	color: #005f9f;
}

@media ( max-width : 420px) {
	.login-clean {
		height: 100%;
		width: 100%;
		padding: 0px;
	}
}

.login-clean form {
	max-width: 420px;
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 40px;
	border-radius: 4px;
	color: #505e6c;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-clean .illustration {
	text-align: center;
	padding: 0 0 20px;
	font-size: 100px;
	color: #2980ef;
}

.login-clean .illustration img {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	overflow: hidden;
}

.login-clean form .btn-primary {
	background: #005f9f;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 26px;
	text-shadow: none;
	outline: none !important;
}

.login-clean form .btn-primary:hover, .btn.btn-primary.btn-block:active
	{
	background-color: rgba(0, 95, 159, 0.79);
}

.login-clean form .btn-primary:active {
	transform: translateY(1px);
}

.login-clean form .forgot {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
	opacity: 1;
	text-decoration: none;
}
/*
.login-input-text {
	background: #f7f9fc;
	border: none;
	border-bottom: 1px solid #dfe7f1;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
	text-indent: 8px;
	height: 42px;
	width: 100%;
	text-shadow: none;
	text-decoration: none;
	box-shadow: none !important;
}*/


.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}