.input-group {
  max-width: 980px;
}

@media (max-width: 300px) {
  .activate-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.activate-container {
  padding: 0px;
}



.error-label-bg{
	color: #f35f63;
}


.error-label-md{
	color: #f35f63;
	
}

.error-label-sm{
	color: #f35f63;
}
