.link {
	text-decoration: none;
	color: rgb(67, 70, 74,0.7);
	font-size: 18px;
	margin: 5px auto;
}

.link:hover {
	text-decoration: none;
	color: #aba9a9;
	font-size: 18px;
	margin: 5px auto;
}

.on{
	display: inline;
	visibility: visible;
}

.off{
	display: none;
	visibility: hidden;
}

