.success-div {
  background-color: #8cf871;
  border-radius: 5px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(135deg, #00b2ff, rgba(189,6,193,0.85));
  min-width: 200px;
}

.header h1 {
  color: white;
  padding: 55px;
}

.circle {
  top: 50%;
  bottom: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  border: solid;
  margin: 0 auto;
}

.circle p {
  position: relative;
  top: 13%;
}

.step-container {
  text-align: center;
  border: solid;
  padding: 10px;
}

.content {
  border: solid;
  border-color: #565353;
  border-width: 2px;
  background-color: white;
}

.file-label:hover {
  background-color: #65cccc;
  cursor: pointer;
}

.file-label {
  padding-right: 12px;
  padding-left: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: white;
  background-color: rgb(75,175,188);
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

