.table-div {
  margin-top: 20px;
}

.table-div tbody {
  border-bottom: 1px solid rgb(206,212,218);
}

.create-form-container {
  padding: 20px;
  background-color: white;
}

@media (min-width: 992px) {
  .create-form-container form {
    text-align: right !important;
  }
}

.create-form-container form {
  padding: 20px;
  background-color: white;
  text-align: left;
}

.header {
  background: linear-gradient(55deg, rgba(0,142,203,0.81), rgba(0,228,146,0.58));
  min-width: 200px;
}

.header h1 {
  color: white;
  padding: 55px;
}

.selected {
  background-color: rgb(66,199,228);
}

.circle {
  top: 50%;
  bottom: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  border: solid;
  margin: 0 auto;
}

.circle p {
  position: relative;
  top: 13%;
}

.step-container {
  text-align: center;
  border: solid;
  padding: 10px;
}

@media (max-width: 1200px) {
  .step-container {
    height: 100%;
  }
}

.active {
  background-color: rgb(236,238,241);
}



.error-label-md{
	color: #f35f63;
}

.error-label-bg{
	color: #f35f63;
}

.error-label-sm{
	color: #f35f63;
	text-align: center;
}

