.event-jumbotron {
  background: linear-gradient(55deg, rgba(0,142,203,0.81), rgba(0,228,146,0.58));
  border-radius: 0px !important;
}

.event-jumbotron h1 {
  color: white;
}

section {
  background-color: rgba(226,229,234,0.65);
}

.team-card {
  max-width: 200px;
  max-height: 250px;
}

.team-card img {
  max-width: 125px;
  max-height: 125px;
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.btn .btn-primary .join-btn {
  background-color: rgba(89,134,251,0.76);
  border: none;
}


.carousel-item{	
  max-width: 690px;
  max-height: 460px;
}


.joined-btn {
  color: #ffffff;
  background-color: rgba(111,247,78,0.76);
  border: none;
}


.joined-btn:hover{
	color:white;
	background-color: rgba(251,89,89,0.76);
}

.userNameLink{
	text-decoration: none;
	color: grey;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;	
}

.userNameLink:hover{
	text-decoration: none;
	color: #aba9a9;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;	
}