.section {
  background-color: rgba(226,229,234,0.65);
}

.top-inclined {
	-webkit-transform: skewY(4deg);
	-moz-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.top-inclined-content {
	-webkit-transform: skewY(-4deg);
	-moz-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	transform: skewY(-4deg);
}

.error-label-md{
	font-size:18px;
	display: block;
	color:red;
}

.error-label-sm{
	font-size:12px;
	display: block;
	color:red;
}


.error-label-bg{
	font-size:24px;
	display: block;
	color:red;
}


.info-label-md{
	font-size:18px;
	display: block;
}

.info-label-sm{
	font-size:12px;
	display: block;
}


.info-label-bg{
	font-size:24px;
	display: block;
}



p {
  word-wrap: break-word;
}


.white-section {
	background-color: white !important;
}

.join-btn {
  background-color: rgba(89,134,251,0.76);
  border: none;
}

.tag {
  border-radius: 5px;
  padding: 5px 5px;
  color: white;
  background-color: rgba(179, 236, 255,1);
  margin-top: 100px;
  margin-right: 2px;
}

