#date-row .row {
  padding-top: 20px;
}

#next-date {
  border-left: 10px solid;
  border-color: rgba(1,255,11,0.5);
}

#p-date {
  margin-top: -10px;
}

#span-date {
  display: inline-block;
  padding: .25em .4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: .25rem;
}

#span-date {
  background-color: rgba(115,148,197,0.7);
}




#promo {
  text-align: center;
  padding: 40px;
  background: url("#{resource['img:laptop-1209008_1280.jpg']}");
  background-size: cover;
  padding-top: 60px;
}



@media (max-width: 768px) {
  #promo {
    padding: 20px;
  }
}

#promo .jumbotron {
  background-color: rgba(233,236,239,0.75);
  border-radius: 20px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 990px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

.site-section {
  text-align: center;
  padding-bottom: 70px;
}

.site-section h1 {
  padding-top: 60px;
  font-weight: normal;
  margin-bottom: 30px;
}

#intro p {
  max-width: 799px;
  font-size: 20px;
  margin: 0 auto;
}


#why .item i {
  font-size: 40px;
  padding: 10px;
  color: #214a80;
}

#why .item {
  padding-top: 36px;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 5px;
}

.gray-section {
  background-color: #e4f1f7;
}

#why .item p {
  color: #525658;
}

.info-button {
  background-color: #7db0d3;
  border-color: transparent;
}

