.newsletter-subscribe {
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
}

.newsletter-subscribe p {
  color: #7d8285;
  line-height: 1.5;
}

.newsletter-subscribe h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.newsletter-subscribe .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.newsletter-subscribe .intro p {
  margin-bottom: 35px;
}

.newsletter-subscribe form {
  justify-content: center;
}

.newsletter-subscribe form .form-control {
  background: #eff1f4;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.newsletter-subscribe form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.newsletter-subscribe form .btn:hover {
  opacity: 1;
}

.newsletter-subscribe form .btn:active {
  transform: translateY(1px);
}

.newsletter-subscribe form .btn-primary {
  background-color: #055ada !important;
  color: #fff;
  outline: none !important;
}

#date-row .row {
  padding-top: 20px;
}

#next-date {
  border-left: 10px solid;
  border-color: rgba(1,255,11,0.5);
}

#p-date {
  margin-top: -10px;
}

#span-date {
  display: inline-block;
  padding: .25em .4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: .25rem;
}

#span-date {
  background-color: rgba(115,148,197,0.7);
}

.top-inclined {
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  transform: skewY(4deg);
}

.top-inclined-content {
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  transform: skewY(-4deg);
}

#promo {
  text-align: center;
  padding: 40px;
  background: url("#{resource['img:alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg']}");
  background-size: cover;
  padding-top: 60px;
  background-position: center;
}



@media (max-width: 768px) {
  #promo {
    padding: 20px;
  }
}

#promo .jumbotron {
  background-color: rgba(233,236,239,0.75);
  border-radius: 20px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 990px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

.site-section {
  text-align: center;
  padding-bottom: 70px;
}

.site-section h1 {
  padding-top: 60px;
  font-weight: normal;
  margin-bottom: 30px;
}

#intro p {
  max-width: 799px;
  font-size: 20px;
  margin: 0 auto;
}


#why .item i {
  font-size: 40px;
  padding: 10px;
  color: #214a80;
}

#why .item {
  padding-top: 36px;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 5px;
}

.gray-section {
  background-color: #e4f1f7;
}

#why .item p {
  color: #525658;
}

.info-button {
  background-color: #7db0d3;
  border-color: transparent;
}

.error-label-md{
	color: rgba(251,89,89,0.76);
}

.error-label-sm{
	color: rgba(251,89,89,0.76);
}


.error-label-bg{
	color: rgba(251,89,89,0.76);
}


.info-label-md{
	color: rgba(111,247,78,0.76);
}

.info-label-sm{
	color: rgba(111,247,78,0.76);
}


.info-label-bg{
	color: rgba(111,247,78,0.76);
}
