.research-header {
  background: linear-gradient(135deg, #00b2ff, rgba(255,16,1,0.85));
  color: white;
  border-radius: 0px;
}

.pagination {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-column {
  margin-top: 30px;
}

.projects-img {
  height: 240px !important;
  width: 100%;
}

.userNameLink {
	text-decoration: none;
	color: rgb(33, 37, 41);
	font-size: 20px;
	margin: 5px auto;
}

.userNameLink:hover {
	text-decoration: none;
	color: #aba9a9;
	font-size: 20px;
	margin: 5px auto;
}
